<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> {% block title %}Tornado{% end %}</title>
    <link rel="shortcut icon" href="{{ static_url('images/favicon.ico') }}">
      <link rel="stylesheet" href="{{ static_url('css/bootstrap.css') }}">
</head>
<body> 
{% if current_user %}
<h1>当前登录用户 :{{ current_user }}</h1>
{% end %}
{% block content %}{% end %}
{% block image %}
{% end %}
<script src="{{ static_url('js/jquery.slim.min.js') }}"></script>
<script src="{{ static_url('js/popper.min.js') }}"></script>
<script src="{{ static_url('js/bootstrap.min.js') }}"></script>
</body>
</html>